body{
  /*removendo o padding e o margin do body */
    padding: 0;
    margin: 0;
}

.container{
  background-color: red;
  padding: 10px;
  border: 5px solid blue;
  margin: 10px;

}

.content{
  background-color: #ddd;
  border: 5px solid green;
  padding: 5px;
  outline: 5px solid rgb(17, 17, 17); /* Tem todas as propriedades do border, a diferença é que não afasta os outros elementos, como o border, não fazendo parte do box model */
}